#!/bin/bash


##### # # # # # # # # # # 
### Script Configuration
##### # # # # # # # # # #

# > Job name:
#PBS -N $name$-v$version$
#
# > Nodes & CPUs:
#PBS -l nodes=1:ppn=$cpus$
#
# > Memory:
#PBS -l mem=$memory$gb
#
# > Estimated runtime:
#PBS -l walltime=$time$
#
# > Email:
#PBS -m abe
#PBS -M $email$
#
# > Queue:
#PBS -q batch-intel-v4
#
# > Shell:
#PBS -S /bin/bash
#
# > Inherit environment variables
#PBS -V


$body$
