#!/bin/bash


##### # # # # # # # # # # 
### Script Configuration
##### # # # # # # # # # #

# > Nodes & CPUs:
#PBS -l nodes=1:ppn=$cores$
#
# > Memory:
#PBS -l mem=$memory$mb
#
# > Estimated runtime:
#PBS -l walltime=$time$
#
# > Email:
#PBS -m abe
#PBS -M $email$
#
# > Job name:
#PBS -N $name$
#
# > Queue:
#PBS -q batch-amd
#
# > Shell:
#PBS -S /bin/bash
#
# > Inherit environment variables
#PBS -V
#
# > Set key variables
#PBS -v LTL_PROPERTY=$property$,PAN_MEMORY=$allocs$


$body$
