### DFAMIN

 |   FSU  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   |    F   |    F   |    F   |    F   |    F   | 
 |    5   |    F   |    F   |    F   |    F   |    F   | 
 |    6   |    F   |    F   |    F   |    T   |    T   | 
 |    7   |    T   |    T   |    T   |    T   |    T   | 
 |    8   |    T   |    T   |    T   |    T   |    T   | 
 |    9   |    T   |    T   |    T   |    T   |    T   | 
 |   10   |    T   |    T   |    T   |    T   |    T   | 
 |   11   |    T   |    T   |    T   |    T   |    T   | 
 |   12   |    T   |    T   |    T   |    T   |    T   | 

 |   HLT  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   |    F   |    F   |    F   |    F   |    F   | 
 |    5   |    F   |    F   |    F   |    F   |    F   | 
 |    6   |    F   |    F   |    F   |    F   |    F   | 
 |    7   |    F   |    F   |    F   |    F   |    F   | 
 |    8   |    F   |    F   |    F   |    F   |    F   | 
 |    9   |    F   |    F   |    F   |    F   |    F   | 
 |   10   |    F   |    F   |    F   |    F   |    F   | 
 |   11   |    F   |    F   |    F   |    F   |    F   | 
 |   12   |    F   |    F   |    F   |    F   |    F   | 

 |   PCS  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   |    F   |    F   |    F   |    F   |    F   | 
 |    5   |    F   |    F   |    F   |    F   |    F   | 
 |    6   |    F   |    F   |    F   |    T   |    T   | 
 |    7   |    T   |    T   |    T   |    T   |    T   | 
 |    8   |    T   |    T   |    T   |    T   |    T   | 
 |    9   |    T   |    T   |    T   |    T   |    T   | 
 |   10   |    T   |    T   |    T   |    T   |    T   | 
 |   11   |    T   |    T   |    T   |    T   |    T   | 
 |   12   |    T   |    T   |    T   |    T   |    T   | 


### MEMORY

 |   FSU  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   |   1024 |   1024 |   1024 |   1024 |   1024 | 
 |    5   |   1248 |   2054 |   2954 |   3036 |   3048 | 
 |    6   |   5980 |  23324 |  32474 |  46056 |  46100 | 
 |    7   | 393216 | 393216 | 393216 | 393216 | 393216 | 
 |    8   | 393216 | 393216 | 393216 | 393216 | 393216 | 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |

 |   HLT  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    5   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    6   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    7   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    8   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |

 |   PCS  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    5   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    6   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    7   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    8   | 131072 | 131072 | 131072 | 131072 | 131072 | 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |


### VECTOR

 |   T⨉N  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    4   |    196 |    244 |    252 |    252 |    262 | 
 |    5   |    204 |    268 |    268 |    268 |    288 | 
 |    6   |    220 |    284 |    284 |    292 |    304 | 
 |    7   |    228 |    300 |    308 |    308 |    320 | 
 |    8   |    240 |    316 |    324 |    324 |    344 | 
 |    9   |    768 |    768 |    768 |    768 |    768 | 
 |   10   |    768 |    768 |    768 |    768 |    768 | 
 |   11   |    768 |    768 |    768 |    768 |    768 | 
 |   12   |    768 |    768 |    768 |    768 |    768 | 

