### DFAMIN

 |   FSU  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   |    T   |    T   |    T   |    T   |    T   | 
 |   10   |    T   |    T   |    T   |    T   |    T   | 
 |   11   |    T   |    T   |    T   |    T   |    T   | 
 |   12   |    T   |    T   |    T   |    T   |    T   | 

 |   HLT  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   |    F   |    F   |    F   |    F   |    F   | 
 |   10   |    F   |    F   |    F   |    F   |    F   | 
 |   11   |    F   |    F   |    F   |    F   |    F   | 
 |   12   |    F   |    F   |    F   |    F   |    F   | 

 |   PCS  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   |    T   |    T   |    T   |    T   |    T   | 
 |   10   |    T   |    T   |    T   |    T   |    T   | 
 |   11   |    T   |    T   |    T   |    T   |    T   | 
 |   12   |    T   |    T   |    T   |    T   |    T   | 


### MEMORY

 |   FSU  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |

 |   HLT  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |

 |   PCS  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   10   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   11   | 131072 | 131072 | 131072 | 131072 | 131072 |
 |   12   | 131072 | 131072 | 131072 | 131072 | 131072 |


### VECTOR

 |   T⨉N  |    4   |    5   |    6   |    7   |    8   | 
 |:------:|:------:|:------:|:------:|:------:|:------:| 
 |    9   |    768 |    768 |    768 |    768 |    768 | 
 |   10   |    768 |    768 |    768 |    768 |    768 | 
 |   11   |    768 |    768 |    768 |    768 |    768 | 
 |   12   |    768 |    768 |    768 |    768 |    768 | 

